
.carousel-2{

}
.carousel-2 .owl-pic {
   
    margin: 5vw 0;
    transition: all 0.6s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 5px 7px rgba(0, 0, 0, 0.2);
    
}

.carousel-2 .owl-item.center .owl-pic {
    opacity: 1;
    transform: scale(1.1); 
   
    
}

.carousel-2 .owl-item.center+.owl-item {
    position: relative;
    z-index: -1;
}

.carousel-2 .owl-pic img {
    transition: 0.3s opacity ease, 0.3s transform ease;
    opacity: 0.9;
}

.carousel-2 .owl-item .owl-pic:hover img,
.carousel-2 .owl-item.center .owl-pic img {
    opacity: 1;
}

.carousel-2 .owl-nav .owl-prev,
.carousel-2 .owl-nav .owl-next {
    position: absolute;
    cursor: pointer;
    font-size: 60px !important;
    color: #FFF !important;
    top: 0;
    height: 100%;
    width: 70px;
    transition: 0.3s opacity ease;
    opacity: 0.7;
    margin: 0;
    padding: 0;
}

.carousel-2 .owl-nav .owl-prev:hover,
.carousel-2 .owl-nav .owl-next:hover {
    opacity: 1;
}

.carousel-2 .owl-nav .owl-prev,
.carousel-2 .owl-nav .owl-prev:hover {
    left: 0;
}

.carousel-2 .owl-nav .owl-next,
.carousel-2 .owl-nav .owl-next:hover {
    right: 0;
}